body{
    background-color: rgb(123, 116, 226);
    letter-spacing: 0ic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-weight: 200;
}
.container{
    max-width: 600px;
}
.btn{
    background: #41d1be;
    color: #000;
    outline: none !important;
    box-shadow: none !important;

}
.btn:focus{
    outline: none !important;
}
.username{
    font-weight: bolder;
}
.time{
    font-size: 0.7em;
    color: crimson;
}
.update-mssg{
    text-align: center;
    margin: 20px auto;
    color: darkcyan;
}