.container{
    max-width: 600px;
}
.btn{
    background: #41d1be;
    color: #000;
    outline: none !important;
    box-shadow: none !important;

}
.btn:focus{
    outline: none !important;
}
.username{
    font-weight: bolder;
}
.time{
    font-size: 0.7em;
    color: crimson;
}